* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;

  }
  .container-fluid.main{
    position: relative; /* To make the navbar positions relative to this container */
    padding: 0;
  }
  
  .navbar-default {
    background-image: none;
    background-color: transparent; /* Make the menu become transparent */
    border-radius: 0px;
    border: 0;
    box-shadow: none;
    padding: 10px;
    position: absolute; /* Make the menu out of the document flow so it can placed anywhere without disturbing other widgets */
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; /* If you delete this line, your menu link won't be clicked because it is behind the background. Applying this code bring the menu in front of the background */
  }
  .mr-auto

{

  margin-left: 619px;
    margin-top: -40px;
} 
 .navbar-default .navbar-brand {
    font-family: Verdana;
    color: #ffffff;
    font-size: 20px;
  }
  
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
  }
  
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
  }
  
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  
  .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }
  
  .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  
  .carousel .background {
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 700px;
  }
 .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 604px;
}
  @media (max-width:991px) {
    .carousel .background {
      background-size: cover; /* To make the background image looks good */
    }
  }
  
  .carousel .background.a {
    background-image: url("sample images/1.jpg");
  }
  
  .carousel .background.b {
    background-image: url("sample images/2.jpg");
  }
  
  .carousel .background.c {
    background-image:url("sample images/3.jpg");
  }
  
  .carousel-fade .carousel-inner .item {
    opacity: 0;
    transition: opacity 0.5s; /* The 0.5s describes the duration to make the opacity from 0 to 1 */
  }
  
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  
  /* CSS Hack to trigger GPU for smooth transition */
  @media all and (transform-3d),
  (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  /* CSS Hack to trigger GPU for smooth transition */
  
  .covertext {
    position: absolute; /* To make the div to be place anywhere. It is out of the document flow */
    top: 200px; /* The distance between the div with the top of document */
    left: 0px; /* Make the div full width */
    right: 0px; /* Make the div full width */
  }
  
  .title {
    font-family: Verdana;
    font-weight: 600;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
  }
  
  .subtitle {
    font-family: Verdana;
    font-size: 23px;
    color: #ffffff;
    text-align: center;
  }
  
  .explore {
    text-align: center;
    margin-top: 10px;
  }
  
  .explore .btn-lg,
  .explore .btn-lg:hover {
    border-radius: 30px;
    padding: 15px 25px;
    font-size: 22px;
    background-image: none;
    background-color: #FF4000;
    border-color: #FF4000;
    color: #ffffff;
  }
  
  .btn,
  .btn:hover {
    border-radius: 0px;
    background-image: none;
    background-color: #FF4000;
    border-color: #FF4000;
    color: #ffffff;
    margin-bottom: 20px;
    box-shadow: none;
    outline: none;
  }
  
  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    color: #ffffff;
    outline: none;
  }
  .welcome-img
  {
    height: 400px;
    width:486px;
    border-radius: 7px;
  }
  .welcome
  {
    height: 681px;
    padding: 40px; 
  }
  .welcome-inner
  {
    margin-top: 22px;
  }
  .parallelogram {
    position: absolute;
    width: 450px;
    height: 75px;
    transform: skew(20deg);
    background:tomato;
    z-index: -1;
  }
  .what-we-do
  {
    height: 486px;
    width: 100%;
    background-size:cover;
    background-position: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url("sample images/4.jpg");
     background-attachment: fixed;
     background-repeat: no-repeat;

  }
  .what-we-do h1
  {
    text-align: center;
    color:orange;
    font-weight:900;
    padding: 30px;


  }
  .card 
  {
       width: 300px;
      text-align: center;
      background: #000208a6;
      height: 300px;
      margin-left: 31px;
      padding:39px;
  }
  .card-body p
  {
color:white;
margin-top: 20px;
  }
  .class3{
    background-color:#d3d3d324;
    padding: 20px;
    font-family: Arial;
    
  }
  
  /* Center website */
  .main1 {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row1 {
    margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row1,
  .row1 > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn1 {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn1:hover {
    background-color: #ddd;
  }
  
  .btn1.active {
    background-color: #666;
    color: white;
  }
  .class5
  {
    height: 340px;
    width: 100%;
  }
  .class51
{
  width: 98%;
}
.class5content
{
  background: #FF4000;
  color:white;
  margin-top: -20px;
    height: 336px;
}
.test
{
  height: 400px;
}
.inner{
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 267px;
}
.testimonial_subtitle{
  color: #0aaa7a;
  font-size: 12px;
}
.testimonial_btn{
  background-color: #373d4b !important;
  color: #fff !important;
}
.seprator {
  height: 2px;
  width: 56px;
  background-color: #0aaa7a;
  margin: 7px 0 10px 0;
}

.foot
  {
     width: 100%;
     height: 50px;
    background: black;
    color:white;

  }
  .footer
  {
    height: 62px;
    text-align: center;
    color:white;
    background: black;
    padding-top: 3px;
  }